﻿h1, h2, h3, h4, h5, h6 {
    clear: both;
}

img.align-right {
    clear: right;
}

@media (max-width: 500px) {
    img.align-right {
        float: none !important;
        margin-left: 0 !important;
    }
}